.note-card{
    width: 100%;
    .title{
        font-size: 16px
    }
    .time{
        font-size: 10px;
    }
    .border{
        border-bottom: 1px solid white;
    }
    .detail{
        font-size: 11px
    }
    margin-bottom: 10px;
    border-radius: 5px;
    p {
        overflow-wrap: break-word;
        word-wrap: break-word;
        width: 100%;
    }
}

.note-card:hover{
    background-color: #222222;
}