.main-frame{
    display: inline;
    flex: 2;
    padding: 20px 20px 10px;
}

.note-title{
    width: 100%;
    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
    background-color: transparent;
    font-size: 40px;
    transition: border-width 0.1s linear;
}

.note-title::placeholder{
    color: white;
}

.note-title:focus {
    border-width: 0 0 4px;
}

.note-text{
    margin-top: 10px;
    width: 100%;
    outline: 0;
    border: 0;
    background-color: transparent;
    font-size: 20px;
    height: 80vh;
}

.note-text::placeholder{
    color: white;
}