.note-right-menu{
    display: inline;
    width: 65%;
    padding: 20px 20px 10px;
    margin-left: 10px;
    
    @media screen and (max-width: 1224px){
        margin-left: 0px;
        margin-top: 10px;
        width: 100%;    
        height: 80vh;
    }
    background-color: white;
    
}

.note-option{
    display: inline;
}

.delete-note{
    color: white;
}

.cancel-delete-note{
    margin-right: 10px;
    background-color: #77dd77;
    color: white;
}