.note-left-menu{
    width: 256px;
    padding: 20px 10px 10px;
    @media screen and (min-width:1224px){
        display: inline;
        width: 35%;
        background-color: white;   
    }
}

.header-note-list{
    display: flex;
    .child{
        width: 100%
    }
}

.add-note{
    margin-left: 5px;
    flex: 1;
    color: white;
}

.search-field{
    flex: 2;
}

.splash-screen{
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    display: inline-flex;
    text-align: center;
}

.splash-container{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
}