.header{
    justify-content: space-between;
    display: flex;
}

@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.title-font{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: black
}

