$standart-height: 768px;
$fullhd-height: 1080px;
$mobile-width: 1224px;

.note-title{
    width: 100%;
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
    background-color: transparent;
    font-size: 40px;
    margin-bottom: 4px;
    transition: border-width 0.1s linear;
}

.note-title:focus {
    border-width: 0 0 4px;
}

.note-text{
    margin-top: 7px;
    width: 100%;
    outline: 0;
    border: 0;
    background-color: transparent;
    font-size: 20px;
    resize: none;
    // @media screen and (max-height: $fullhd-height){
        height: 75vh;        
    // }
    @media screen and (max-height: $standart-height) {
        height: 65vh;
    }
    @media screen and (max-width: $mobile-width){
        height: 50vh;
    }
}
