$standart-height: 768px;
$fullhd-height: 1080px;

.body-note-list{
    margin-top: 10px;
    // @media screen and (max-height: $fullhd-height){
        height: 83vh;        
    // }
    @media screen and (max-height: $standart-height) {
        height: 75vh;
    }
    overflow-y: auto;
}